 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .margin-top-30 { margin-top: 30px; }

 body {
  font-family: 'Poppins', sans-serif;
  cursor: none;
  color: #181c30;
 }

 h2 { margin-left: 5%; }
 p { margin-left: 5%; }

 .stock-charts {
   width: 100%;
   height: 300px;
   object-fit: cover;
 }

 nav {
   display: flex;
   justify-content: space-between;
   width: 90%;
   min-height: 10vh;
   align-items: center;
   margin: auto;
 }


 .nav-links {
   display: flex;
   list-style: none;
   justify-content: space-between;
 }

 .nav-links li {
   padding: 1rem;
 }

 .nav-links,
 h1 {
   flex: 1;
 }

 a.menu-link {
   color: #2d3a6f;
   text-decoration: none;
 }

 a.menu-link:hover {
   color: white;
 }

 .cursor {
   width: 2.5rem;
   height: 2.5rem;
   border: 2px solid #2d3a6f;
   border-radius: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   pointer-events: none;
   transition: all 0.3s ease;
   transition-property: background, transform;
   transform-origin: 100% 100%;
   z-index: -1;
   backdrop-filter: blur(3px);
 }

 .link-grow {
   transform: scale(2);
   background-color: #2d3a6f;
 }

 .hovered-link {
   color: white;
 }

 .front-cover img {
   position: relative;
   z-index: -3;
 }